<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-lg-12 stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Categories</h4>
<!--                    <p class="card-description"> Add class <code>.table-{color}</code>-->
<!--                    </p>-->
                    <div class="table-responsive">
                      <table class="table table-bordered table-contextual">
                        <thead>
                          <tr>
                            <th>Category Name</th>
                            <th>Product Name </th>
                            <th>Price </th>
                            <th>Description </th>
                            <th>Brand</th>
                            <th>Product Image</th>
                          </tr>
                        {% for i in data %}
                        </thead>
                        <tbody>
                          <tr class="table-info">
                            <td>{{i.Category_Name}}</td>
                            <td>{{i.Product_Name}}</td>
                            <td>{{i.Price}}</td>
                            <td>{{i.Description}}</td>
                            <td>{{i.Brand}}</td>
                            <td><img src="{{i.Product_Image.url}}" width="120px" height="120px" alt=""></td>
                            <td>
                              <form action="{% url 'editproduct' dataid=i.id %}">
                                <button type="submit" class="btn btn-primary mr-2">Edit</button>
                              </form>
                            </td>
                             <td>
                              <form action="{% url 'deleteproduct' dataid=i.id %}">
                                <button type="submit" class="btn btn-primary mr-2">Delete</button>
                              </form>
                            </td>
                          </tr>
                        {% endfor %}

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

</body>
</html>
{% endblock %}